<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="Country.CfgKeys" value="US,UK,JP,CA,DE,IN,IT,MX,ES,FR" />
    <add key="Country.US" value="{'CountryName':'美','Link':'https://www.amazon.com','ZipCode':'10041','isProxy':false}" />
    <add key="Country.UK" value="{'CountryName':'英','Link':'https://www.amazon.co.uk','ZipCode':'W1S 3PR','isProxy':false}" />
    <add key="Country.JP" value="{'CountryName':'日本','Link':'https://www.amazon.co.jp','ZipCode':'163-8001','isProxy':true}" />
    <add key="Country.CA" value="{'CountryName':'加拿大','Link':'https://www.amazon.ca','ZipCode':'K1S 2T5','isProxy':false}" />
    <add key="Country.DE" value="{'CountryName':'德','Link':'https://www.amazon.de','ZipCode':'10115','isProxy':false}" />
    <add key="Country.IN" value="{'CountryName':'印度','Link':'https://www.amazon.in','ZipCode':'110028','isProxy':false}" />
    <add key="Country.IT" value="{'CountryName':'意大利','Link':'https://www.amazon.it','ZipCode':'00185','isProxy':false}" />
    <add key="Country.MX" value="{'CountryName':'墨西哥','Link':'https://www.amazon.com.mx','ZipCode':'11510','isProxy':false}" />
    <add key="Country.ES" value="{'CountryName':'西班牙','Link':'https://www.amazon.es','ZipCode':'28001','isProxy':false}" />
    <add key="Country.FR" value="{'CountryName':'法','Link':'https://www.amazon.fr','ZipCode':'75020','isProxy':false}" />

    <!--代理地址-->
    <add key="Proxy.IPAddress" value=""/>
  </appSettings>
</configuration>
